.sidebar{
    position: fixed;
    background-color: var(--blue);
    height: 100vh;
    flex: 1;
}
.sidebar-title{
    font-size: 1.4rem;
    padding: 15px;
    border-bottom: 2px solid #6c48bb;
    text-align: right;
    color:var(--white)
}
.sidebar-links{
    margin-top: 25px;
}
.sidebar-links li {
    padding: 15px;
    position: relative;
}
.sidebar-links li a {
    width: 100%;
    color: var(--white);
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.3rem;
    text-decoration: none;
}
.sidebar-links .active {
    background-color:#391588 ;
}
.sidebar-links li:first-child{
    margin-bottom: 20px;
}